.container{
    width: 607px;
    height: 850px;
    margin: auto;
    margin-top: 0;
    border-radius: 12px;
    background-image: linear-gradient(180deg,#130754 0%,#3b2f80 100%);
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}

.top-bar input{
    display: flex;
    width: 363px;
    height: 77px;
    background: #ebfffc;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77px;
    height: 77px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
}

.weather-image{
    display: flex;
    justify-content: center;
    margin-top: 29px;
}

.weather-temp{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 120px;
    font-weight: 400;
}

.weather-location{
    display: flex;
    color: white;
    justify-content: center;
    font-size: 60px;
    font-weight: 400;
}

.data-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: white;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12.5px;
}

.data{
    font-size: 34px;
    font-weight: 400;
}

.text{
    font-size: 20px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;
}